.question-card-view-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding: 10px;
}
.question-card-view-container button {
  border-radius: 35px;
}
.question-view-header {
  white-space: nowrap;
  margin-bottom: 15px;
  font-weight: 600;
}
.question-card-header {
  white-space: nowrap;
  margin-top: 20px;
  margin-bottom: 0px;
}
.question-view-text{
  text-align: left;
  width: 100%;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}
.question-card-options {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  width: 70vw;
  min-width: 180px;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  border-radius: 13px;
  background-color: white;
}

.name-in-questionview {
  font-weight: 500;
}

.option-selected {
  font-weight: 600;
  color: purple;
}
.option-unselected {
  background-color: #ffffff76;
}

.votes {
  font-size: 12.5px;
}
