body {
  min-height: 100vh;
  max-width: 2008px;
  margin-left: auto;
  margin-right: auto;
  font-family: apercu, sans-serif;
  font-weight: 300;
  color: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(at top left, #a9c7ee, #c2b2e0);
}

h3 {
  font-size: 24px;
}